<%-
local uci = luci.model.uci.cursor()
local tls = uci:get_bool("cloudreve", "main", "tls")
local port = uci:get("cloudreve", "main", "port") or "8052"
-%>

<style type="text/css">
	#services_status { margin-top: 0.5em; }
	.cbi-input-textarea { resize: vertical; }
	.cbi-button-action { margin-left: 10px; margin-right: 10px; }
</style>

<fieldset class="cbi-section">
	<legend><%:Service Status%></legend>
	<p id="services_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>

<script type="text/javascript">//<![CDATA[
var links = '<input class="cbi-button cbi-button-action mar-10" type="button" value="<%:Open Web Interface%>" onclick="openWebUI(\'/\', \'<%=port%>\');" />';
XHR.poll(5, '<%=url([[admin]], [[nas]], [[cloudreve]], [[status]])%>', null, function (x, data) {
	var tb = document.getElementById('services_status');
	if (data && tb) {
		if (data.running) {
			tb.innerHTML = '<em><b><font color="green"><%:The Cloudreve service is running%>:</font> <font color="blue">['+ data.pidofs +']</font></b></em>' + links;
		} else {
			tb.innerHTML = '<em><b><font color="red"><%:The Cloudreve service is not running%></font></b></em>';
		}
	}
});

function openWebUI(path, port, host, protocol) {
	var defaulthost = (protocol ? protocol : location.protocol) + '//' + window.location.hostname + (port ? ':' + port : '');
	window.open((host ? host : defaulthost) + (path ? path : "/"));
};

//]]>
</script>

